@import "tailwindcss";

:root {
  font-family: system-ui, Lato, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--accent-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: #f4f4fa;
  --primary-color: #fefefe;
  --secondary-color: #195598;
  --accent-color: #0f0f0f;
}
